<p id="notice"><%= notice %></p>

<p>
  <strong>Visual:</strong>
  <img src="<%= @book.visual %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @book.release_date %>
</p>

<p>
  <strong>Isbn code:</strong>
  <%= @book.isbn_code %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
